<div class="row row-cols-1 row-cols-md-2">
 <div class="col-sm-12 col-md-6">
  <div class="row row-cols-1">
   <div class="col">
    <a href="git-novice-schedule">
     <h3>
      Version Control with git
     </h3>
    </a>
    <p>
     Automated Version Control is a process for tracking changes to files and folders within a 'repository'.
  This workshop will teach you how to use the Git version control system to manage your code, tracking changes to files,
  inspecting and merging multiple different changes, and how to collaborate with other Git users using the GitHub online
  respository store.
    </p>
   </div>
  </div>
 </div>
 <div class="col-sm-12 col-md-6">
  <div class="row row-cols-1">
   <div class="col">
    <a href="r-novice-schedule">
     <h3>
      Data Analysis and Visualization in R
     </h3>
    </a>
    <p>
     This is an introduction to R designed for participants with no programming
  experience. These lessons will be taught over three days. They start with
  some basic information about R syntax, the RStudio interface, and move through
  how to import CSV files, the structure of data frames, how to deal with factors,
  how to add/remove rows and columns, how to calculate summary statistics from a
  data frame, and a brief introduction to plotting.
    </p>
   </div>
  </div>
 </div>
</div>
