<div class="row row-cols-1 row-cols-md-2">
 <div class="col-sm-12 col-md-6">
  <div class="row row-cols-1">
   <div class="col">
    <a href="spreadsheets-schedule">
     <h3>
      Best Practices in Data Organisation Using Spreadsheets
     </h3>
    </a>
    <h4>
     04 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
   <div class="col">
    <a href="openrefine-data-cleaning-schedule">
     <h3>
      Data Cleaning with OpenRefine
     </h3>
    </a>
    <h4>
     05 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
   <div class="col">
    <a href="python-novice-schedule">
     <h3>
      Building Programs with Python: Part 1
     </h3>
    </a>
    <h4>
     06 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
   <div class="col">
    <a href="python-novice-schedule">
     <h3>
      Building Programs with Python: Part 2
     </h3>
    </a>
    <h4>
     07 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
  </div>
 </div>
 <div class="col-sm-12 col-md-6">
  <div class="row row-cols-1">
   <div class="col">
    <a href="r-novice-schedule">
     <h3>
      Data Analysis and Visualization in R: Part 1
     </h3>
    </a>
    <h4>
     11 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
   <div class="col">
    <a href="r-novice-schedule">
     <h3>
      Data Analysis and Visualization in R: Part 2
     </h3>
    </a>
    <h4>
     12 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
   <div class="col">
    <a href="r-novice-schedule">
     <h3>
      Data Analysis and Visualization in R: Part 3
     </h3>
    </a>
    <h4>
     13 March 2024
    </h4>
    <table class="table table-striped">
     <tr>
      <td>
       13:00
      </td>
      <td>
       Registration and Teaching
      </td>
     </tr>
     <tr>
      <td>
       14:30
      </td>
      <td>
       Break
      </td>
     </tr>
     <tr>
      <td>
       14:45
      </td>
      <td>
       Teaching
      </td>
     </tr>
     <tr>
      <td>
       16:15
      </td>
      <td>
       Wrap Up
      </td>
     </tr>
     <tr>
      <td>
       16:30
      </td>
      <td>
       Finish
      </td>
     </tr>
    </table>
   </div>
  </div>
 </div>
</div>
